body,html{
    padding: 0;
    margin: 0;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-image: url(https://giffiles.alphacoders.com/333/3331.gif);
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    position: relative;
    height: 250px;
    
}
.title-box{
    height: 150px;
    width: 300px;
    background-color: #98cc9e;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 0;
    animation: slide 3s linear infinite alternate;
    font-size: xx-large;
    margin: 40px;
    border-width: 10px;
    border-style: solid;
    border-color:#3e8559;
}
a{
    display: block;
}
img{
    margin-bottom: 10px;
    object-fit: contain;
}
.box{
    opacity: .8;
    background-color: #98cc9e;
    border-radius: 10px;
    border-width: 10px;
    border-style: solid;
    border-color:#3e8559;
    width: 350px;
    height: 200px;
    overflow: hidden;
    transform: transform .03s ease-in-out;
    margin: 30px;
    padding: 20PX;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    max-width: 100%;
    transition: 1s;
    box-shadow: 10px 10px 10px 5px rgba(0,0,0,0.5);
    position: relative;
}

.box-text{
    padding-top: 40px;
}
.box:hover{
    opacity: 1;
    transform: scale(1.2);
    height: 350px;
}
#box1:hover{
    background-color: rgb(65, 102, 91);
}
@media screen and (max-width:800px){
    .box{
        width: 100%;
        border-width: 5px;
    }
    .box:hover{
        height: 400px;
    }
}
@keyframes slide {
    0% {
        left: 0;
    }
    100% {
        left: calc(80% - 250px);
    }
}

