body,html{
    padding: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://giffiles.alphacoders.com/333/3331.gif);
}
.container{
    display: flex;
    flex-direction: row, column;
    justify-content: space-around;
    text-align: center;
}
.title-box{
    background-color: #98cc9e;
    border-radius: 10px;
    border-width: 10px;
    border-style: solid;
    border-color:#3e8559;
    height: 150;
    width: 300;
    margin: 40px;
    font-size: xx-large;
    align-items: center;
    font-family: 'Courier New', Courier, monospace
}
a{
    display: block;
}
.box{
    background-color: #98cc9e;
    border-radius: 10px;
    border-width: 10px;
    border-style: solid;
    border-color:#3e8559;
    width: 350px;
    height: 350px;
    margin: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.box:hover{
    transform: scale(1.2);
}